
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Lexend+Deca:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Lexend Deca", sans-serif; */
/*font-family: "Big Shoulders", sans-serif;*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    padding: 10px;
    font-size: 16px;
}

.container {
    background-color: hsl(0, 0%, 95%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    height: 80%;
    width: 70%;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}



.content {
    padding: 0 10px;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 50vh;
    width: 30vh;
    border-radius: 10px;
  
    color: white;
}

.content h2 {
    font-size: 30px;
    padding: 0 10px;
    margin: 10px 0;
    text-transform: uppercase;
    font-family: "Big Shoulders", sans-serif;
    font-weight: 700;
}

.content p {
    margin-bottom: 70px;
    font-size: 15px;
    line-height: 1.6;
    opacity: 0.6;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
}

.button {
    background-color: hsl(0, 0%, 95%);
    padding: 10px 30px;
    border-radius: 25px;
    text-decoration: none;
    transition: all 0.3s ease;
    border: 1px solid white;
    color: black;
    font-family: "Lexend Deca", sans-serif;
}

.button:hover {
    cursor: pointer;
    font-size: 14px;
    transition: .3s ease-in-out;
  
  
   
}

.card-sedans {
    background-color: hsl(31, 77%, 52%);
}

.card-sedans .button {
    color: hsl(31, 77%, 52%);
}

.card-suvs {
    background-color: hsl(184, 100%, 22%);
}

.card-suvs .button {
    color: hsl(184, 100%, 22%);
}

.card-luxury {
    background-color: hsl(179, 100%, 13%);
}

.card-luxury .button {
    color: hsl(179, 100%, 13%);
}

.icon {
    width: 64px;
    height: 40px;
}



@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        max-width: 327px;
        width: 100%;
        overflow-y: hidden;
    }
    
   
}